{% extends "base.html" %}

<div id="pro">

	<div class="pro2">

		<div class="content">

			<img id = "propic" src= "{{url_for('static',filename='img/SirKev.jpeg')}}" width="80px" height="80px"/>
			<p>
				<p>{{ Kevar Halstead} }</p>
				<p><a href="#">@{{khal}}</a>></p>
				<p>{{Kingston, Jamaica}}</p>
				<p>{{Joined January 1, 2020}}</p>
			</p>
		</div>

		<div>
			<p class="bio">
				I'm just a cool kid, a very cool kid. I'm a cool kid that made one tough decision and now is facing the consequence, ha ha...
			</p>
		</div>

		<div class="social">
			<div class="num"><h4>7</h4></div>
            <div class="num"><h4>100</h4></div>
            <div class="num"><h4>250</h4></div>  
            <div class="title"><p>Posts</p></div>
            <div class="title"><p>Following</p></div>
            <div class="title"><p>Followers</p></div>  
		</div>

		<div class="center">
            <button id='follow'>Follow</button>
        </div>

    </div>

	
</div>
